body {
    margin: 0;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:20px 40px;
    background-color: #ffffff;
    box-sizing: border-box;
}
.logo{
    margin-left: 40px;
}
.nav-links{
    display:flex;
    gap:24px;
}
#link-one{
    font-family: Inter, sans-serif;
}
.links{
    font-family: 'Arimo', sans-serif;
    color:#575757
}
.button-design{
    background-color:#1D4ED8;
    color: #ffffff;
    padding: 10px 24px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    border: none;      
    cursor: pointer;
}
.banner{
    background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url('banner.jpg');
    background-size: cover;       
    background-position: center;     /* Centers the background image */
    background-repeat: no-repeat;
    min-height: 80vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#ffffff;
     font-family: Inter, sans-serif;
}
.banner-main{
    /* line-height: 1.6; */
    font-size: 4.5rem;;
    font-weight:600
   
}
.banner-content{
    margin-bottom: 140px;
}
.picture-notes{
    text-align: center;
    line-height:0.2;
    font-weight:600;
}
#register-button{
    margin-top: 220px;

}
.speaker-section{
    display: grid;
    background-size: cover;
    /* 2 columns */
    margin-left: 5%;
    margin-right: 5%;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    
}
.speaker-section > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    border-color: #E5E7EB;
    border-radius: 12px;
    border-width: 1px;
    border-style:solid;
    overflow: auto;
}
.speaker-section img {
    width: 100%;
    height: auto;
    display: block;
}
.meet-the-speakers{
    text-align: center;
    margin:40px;
}
#person-info{
    align-self: flex-start;
    padding: 20px;
    line-height: 30px;
}
#role{
    color:#2563EB;
    font-weight: 550;
}
#name{
    color: #0D1B2A;
    font-size: 20px;
    font-weight:bold;
}
#organization{
    color:#575757;
}